<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>
	<style>
		.vl {
		    border-left: 1px solid black;
		    height: 200px;
		}
	</style>
</head>
<body class="container">
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						
					</div>
					<div class="col-sm-6">
						
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		<div class="header-middle"><!--header-middle-->
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="logo pull-left">
								<a href="manipurshope"><img src="" alt="murolen" /></a>
							</div>
					
						</div>
						<div class="col-sm-4"></div>
						<div class="col-sm-4"><p style="margin-top: 118px;">Order Confirmed</p></div>
					</div>
				</div>
			</div><!--/header-middle-->
		
			<div class="header-bottom"><!--header-bottom-->
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							
						</div>
					</div>
				</div>
			</div><!--/header-bottom-->
	</header><!--/header-->
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
						<h3>Customer Name</h3>
				<br>
				<br>
				<br>
				<div class="container-fluid">
					<div class="row" style="height:20px;">
					<div class="col-md-2">
					</div>
						<div class="col-md-6 ">
						<p>
							Your order has been shipped.
							
							Delivery by  day, Month date, Year
						</p>
						<p>
							We are pleased to inform you that 1 item from your order OD211474189267686000 has been shipped!
						</p>
					</div>
					<div class="col-md-4 vl">
						<p style="font-size:150%;">Delivery Address</p><br>
						<p>Full Name</p>
						<p>Address Line One</p>
						<p>Address Line Two</p>
						<p>Pincode</p>
						<p>Mobile</p>
					</div>
					<div class="col-md-1"></div>
					</div>
				</div>
					<hr>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<div class="col-sm-3"><img alt="item" src="" width="130px"></div>
								<div class="col-sm-8">
									<p><b>Product Name and Product Description</b></p>
									<p>Seller: seller's name <br>
									Delivery Charge: if applicable</p>
									<p>Amount:<span>₹</span> 599</p>
									<p>Quantity:2</p>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="container-fluid">
						<div class="row">
							<p>Shipment Total:<span>₹</span> 999</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>
<footer>
		<div class="row">
						<div class="col-sm-4">
							<div class="logo pull-left">
								<a href="manipurshope"><img src="" alt="murolen" height="60px;" /></a>
							</div>
					
						</div>
						
					</div>
</footer>
</html>